<div id="query-component">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="white-text page-title">Query Tool</h4>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Release(s)</label>
                        <ss-multiselect-dropdown [options]="releases" [settings]="mySettings" [(ngModel)]="selectedReleases"></ss-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" value="QueryReleaseAffected" [(ngModel)]="queryReleaseAffected"> Query Released
                    Affected
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-success" [disabled]="!isValid()" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div [hidden]="!hasResults()">
                <!--*ngIf="parents && parents.length > 0"-->
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-2">
                            <button class="btn btn-sm btn-primary" [disabled]="!selectedReleases[0] || selectedReleases.length > 1" (click)="createNewHas()"><i class="fa fa-plus"></i>New HAS/CREG</button>
                        </div>
                        <div class="col-sm-3">Page: {{page}} / {{numPages}} | TOTAL DOCUMENTS: <span class="badge">{{length}}</span></div>
                        <div class="col-sm-2">
                            <label>
                            <input type="checkbox" [(ngModel)]="myDocsOnly" (change)="onChangeMyDocsOnly()"/>
                                My Docs Only?
                        </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="table-responsive" [hidden]="!hasResults()" >
                <table id="main-table" class="table table-striped">
                    <thead>
                        <tr class="parent-doc">
                            <th class="actions"></th>
                            <th class="release">Release</th>
                            <th class="doc-name">Document Name</th>
                            <th class="domain">Domain</th>
                            <th class="doc-type">Document Type</th>
                            <th class="owner">Owner</th>
                            <th class="revision">Revision</th>
                            <th class="status">Status</th>
                            <th class="date">Auth ETA</th>
                            <th class="date">Review Date</th>
                            <th class="date">Release Date</th>
                            <th class="url">URL</th>
                            <th class="hsdes-link">
                                <img style="max-height: 8px;" src="../../../images/hsdes_icon.png">
                            </th>
                        </tr>
                        <tr>
                            <th class="actions"></th>
                            <th class="release">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.release.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="doc-name">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.docName.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="domain">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.domain.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="doc-type">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.docType.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="owner">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.owner.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>

                            <th class="revision">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.revision.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="status">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.status.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="date">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.authEta.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="date">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.reviewDate.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="date">
                                <input type="text" placeholder="Filter" [(ngModel)]="filters.releaseDate.filterString" (keyup)="updateTable()" class="form-control input-sm">
                            </th>
                            <th class="url">
                                <!--URL field no filter-->
                            </th>
                            <th class="hsdes-link">
                                <!--Link field no filter-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parent of rows">
                            <td class="actions">
                                <div class="btn-group" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-default btn-sm dropdown-toggle">
                                                Actions <span class="caret"></span></button>
                                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                                        <li role="menuitem"><a class="dropdown-item" (click)="rejectDoc(parent)">Reject Record</a></li>
                                        <li role="menuitem"><a class="dropdown-item" (click)="editHas(parent)">Edit Record</a></li>
                                    </ul>
                                </div>

                            </td>
                            <td class="release">{{parent.release}}</td>
                            <td class="doc-name">{{parent.docName}}</td>
                            <td class="domain">{{parent.domain}}</td>
                            <td class="doc-type">{{parent.docType}}</td>
                            <td class="owner">{{parent.owner}}</td>
                            <td class="revision">
                                <select [(ngModel)]="parent.requestedRevision" (change)="revisionChange(parent)">
                             <option *ngFor="let rev of revisions" [value]="rev" >
                                 {{rev}}<span *ngIf="rev === parent.currentRevision && parent.currentRevision !== parent.selectedRevision">*</span>
                                </option>
                        </select>
                            </td>
                            <ng-container *ngFor="let doc of parent.docs | revision:parent.selectedRevision">
                                <td class="status">
                                    <select [(ngModel)]="doc.status" [class]="doc.status" (change)="onChangeStatus(doc)">
                                    <option *ngFor="let status of doc.availableStatuses">{{status}}</option>
                                </select>
                                </td>
                                <td class="date">{{doc.authoringEta | date : 'shortDate' }}
                                    <div *ngIf="!doc.authoringEta">NA</div>
                                </td>
                                <td class="date">{{doc.reviewDate | date : 'shortDate'}}
                                    <div *ngIf="!doc.reviewDate">NA</div>
                                </td>
                                <td class="date">{{doc.releaseEta | date : 'shortDate'}}
                                    <div *ngIf="!doc.releaseEta">NA </div>
                                </td>
                                <td class="url">
                                    <button class="btn btn-xs btn-inverse" title="Update Links" (click)="updateLinks(doc);myModal.show()"><i class="fa fa-pencil"></i></button>
                                    <span *ngIf="!doc.draftUrl && !doc.reviewUrl && !doc.releaseUrl">No URL</span>
                                    <a *ngIf="doc.draftUrl" [href]="doc.draftUrl" target="_blank" class="btn btn-sm btn-info">Draft Url</a>
                                    <a *ngIf="doc.reviewUrl" [href]="doc.reviewUrl" target="_blank" class="btn btn-sm btn-info">Review URL</a>
                                    <a *ngIf="doc.releaseUrl" [href]="doc.releaseUrl" target="_blank" class="btn btn-sm btn-info">Release URL</a>
                                </td>
                                <td class="hsdes-link">
                                    <a [href]="doc.hsdEsUrl" target="_blank"><i class="fa fa-external-link"></i></a>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="parents && parents.length > 0">
               <div class="row">
                <div class="col-sm-6 text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="updateTable()" (numPages)="numPages = $event">
                    </pagination>
                </div>
                <div class="col-sm-3 text-left">
                    <br/>
                    <strong>Items Per Page:</strong>
                    <select [(ngModel)]="itemsPerPage" (change)="updateTable()">
                        <option *ngFor="let size of pageSizes">{{size}}</option>
                    </select>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Update Links {{selectedDoc.docName}} - {{selectedDoc.revision}}</h4>
                    <button type="button" class="close pull-right" (click)="myModal.hide()" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
                </div>
                <update-links [doc]="selectedDoc" (onClosed)="onClosed($event);myModal.hide()"></update-links>
            </div>
        </div>
    </div>
    <div bsModal #statusModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-11">
                            <h6 class="modal-title pull-left">Update <b> {{selectedDoc.docName}} {{selectedDoc.revision}} </b> from <b> {{selectedDoc.currentStatus}} </b>                                to <b> {{selectedDoc.status}} </b> </h6>

                        </div>

                        <div class="col-sm-1">
                            <button type="button" class="close pull-right" (click)="statusModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>


                </div>
                <update-status [doc]="selectedDoc" (onClosed)="statusModal.hide()"></update-status>
            </div>
        </div>
    </div>
    <div bsModal #newHasModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-11">
                            <h6 class="modal-title pull-left">Add NEW HAS/CREG</h6>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close pull-right" (click)="newHasModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <new-has *ngIf="showNewHasModal" [selectedRelease]="selectedRelease" (onClosed)="cancel()"></new-has>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #rejectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-11">
                            <h6 class="modal-title pull-left">Reject</h6>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close pull-right" (click)="rejectModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <reject-action *ngIf="parentDocIsSelected()" [parentdoc]="selectedParent" (onClosed)="refreshData()"></reject-action>
            </div>
        </div>
    </div>
    <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-11">
                            <h6 class="modal-title pull-left">Edit <b>{{selectedDoc.docName}} {{selectedDoc.revision}} </b> </h6>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close pull-right" (click)="editModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <edit-action *ngIf="showEditModal" [parentdoc]="selectedParent" (onClosed)="cancelEditHas()"></edit-action>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #waiveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row" *ngIf="parentDocIsSelected()">
                        <div class="col-sm-11">
                            <h6 class="modal-title pull-left">Move <b>{{selectedParent.docName}} to {{selectedParent.requestedRevision}} </b> </h6>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close pull-right" (click)="waiveModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                    <waive-revisions *ngIf="parentDocIsSelected()" [parentdoc]="selectedParent" (onClosed)="closedModal($event)"></waive-revisions>
            </div>
        </div>
    </div>
</div>