@charset "UTF-8";
/* --------------------------
 * FONTS
 * --------------------------
*/
/*** OPEN SANS ***/
/* <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> */
/* http://www.fontsquirrel.com/fonts/open-sans */
/* http://qrohlf.com/posts/better-opensans/ */
/* Regular */
@font-face {
  font-family: 'Intel Clear';
  src: url("../fonts/IntelClear-Regular-webfont.eot");
  src: url("../fonts/IntelClear-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/IntelClear-Regular-webfont.woff") format("woff"), url("../fonts/IntelClear-Regular-webfont.ttf") format("truetype"), url("../fonts/IntelClear-Regular-webfont.svg?#IntelClearRegular") format("svg");
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
/* Light */
@font-face {
  font-family: 'Intel Clear';
  src: url("../fonts/IntelClear-Light-webfont.eot");
  src: url("../fonts/IntelClear-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/IntelClear-Light-webfont.woff") format("woff"), url("../fonts/IntelClear-Light-webfont.ttf") format("truetype"), url("../fonts/IntelClear-Light-webfont.svg?#IntelClearLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: 'Intel Clear';
  src: url("../fonts/IntelClear-Bold-webfont.eot");
  src: url("../fonts/IntelClear-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/IntelClear-Bold-webfont.woff") format("woff"), url("../fonts/IntelClear-Bold-webfont.ttf") format("truetype"), url("../fonts/IntelClear-Bold-webfont.svg?#IntelClearBold") format("svg");
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Intelicon';
  src: url("../fonts/Intelicon.eot");
  src: url("../fonts/Intelicon.eot?#iefix") format("embedded-opentype"), url("../fonts/Intelicon.woff") format("woff"), url("../fonts/Intelicon.ttf") format("truetype"), url("../fonts/Intelicon.svg?#Intelicon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../../IT-MLAF-SASS/_intel-icons.scss */
[class^="intelicon-"], [class*=" intelicon-"] {
  font-family: 'intelicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-home-solid:before,
.intelicon-home:before {
  content: "\e600";
}

/* line 30, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-home-outlined:before {
  content: "\e601";
}

/* line 33, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-information-solid:before,
.intelicon-information:before {
  content: "\e602";
}

/* line 37, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-information-outlined:before {
  content: "\e603";
}

/* line 40, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-information-max:before {
  content: "\e604";
}

/* line 43, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-help-solid:before,
.intelicon-help:before {
  content: "\e605";
}

/* line 47, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-help-outlined:before {
  content: "\e606";
}

/* line 50, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-help-max:before {
  content: "\e607";
}

/* line 53, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-alert-solid:before,
.intelicon-alert:before {
  content: "\e608";
}

/* line 57, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-alert-outlined:before {
  content: "\e609";
}

/* line 60, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-alert-max:before {
  content: "\e60a";
}

/* line 63, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-minus-solid:before,
.intelicon-minus:before {
  content: "\e60b";
}

/* line 67, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-minus-outlined:before {
  content: "\e60c";
}

/* line 70, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-minus-max:before {
  content: "\e60d";
}

/* line 73, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-plus-solid:before,
.intelicon-plus:before {
  content: "\e60e";
}

/* line 77, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-plus-outlined:before {
  content: "\e60f";
}

/* line 80, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-plus-max:before {
  content: "\e610";
}

/* line 83, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-close-solid:before,
.intelicon-close:before {
  content: "\e611";
}

/* line 87, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-close-outlined:before {
  content: "\e612";
}

/* line 90, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-close-max:before {
  content: "\e613";
}

/* line 93, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-check:before {
  content: "\e614";
}

/* line 96, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-check-box:before {
  content: "\e615";
}

/* line 99, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-empty-box:before {
  content: "\e616";
}

/* line 102, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-filled-box:before {
  content: "\e617";
}

/* line 105, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-compose:before {
  content: "\e618";
}

/* line 108, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-edit:before {
  content: "\e619";
}

/* line 111, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-increase-text-solid:before,
.intelicon-increase-text:before {
  content: "\e61a";
}

/* line 115, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-increase-text-outlined:before {
  content: "\e61b";
}

/* line 118, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-decrease-text-solid:before,
.intelicon-decrease-text:before {
  content: "\e61c";
}

/* line 122, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-decrease-text-outlined:before {
  content: "\e61d";
}

/* line 125, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-letters-solid:before,
.intelicon-letters:before {
  content: "\e61e";
}

/* line 129, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-letters-outlined:before {
  content: "\e61f";
}

/* line 132, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-numbers-solid:before,
.intelicon-numbers:before {
  content: "\e620";
}

/* line 136, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-numbers-outlined:before {
  content: "\e621";
}

/* line 139, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sort-by-price:before {
  content: "\e622";
}

/* line 142, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sort-by-alpha:before {
  content: "\e623";
}

/* line 145, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-align-left:before {
  content: "\e624";
}

/* line 148, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-align-center:before {
  content: "\e625";
}

/* line 151, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-align-right:before {
  content: "\e626";
}

/* line 154, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-bullets-list-view:before {
  content: "\e627";
}

/* line 157, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-organize:before {
  content: "\e628";
}

/* line 160, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-group:before {
  content: "\e629";
}

/* line 163, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-grid:before {
  content: "\e62a";
}

/* line 166, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-view-by-columns:before {
  content: "\e62b";
}

/* line 169, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sort-by-columns:before {
  content: "\e62c";
}

/* line 172, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-filter-solid:before,
.intelicon-filter:before {
  content: "\e62d";
}

/* line 176, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-filter-outlined:before {
  content: "\e62e";
}

/* line 179, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-cancel-filter-solid:before,
.intelicon-cancel-filter:before {
  content: "\e62f";
}

/* line 183, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-cancel-filter-outlined:before {
  content: "\e630";
}

/* line 186, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-folder-solid:before,
.intelicon-folder:before {
  content: "\e631";
}

/* line 190, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-folder-outlined:before {
  content: "\e632";
}

/* line 193, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-browse-preview-solid:before,
.intelicon-browse-preview:before {
  content: "\e633";
}

/* line 197, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-browse-preview-outlined:before {
  content: "\e634";
}

/* line 200, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-save-solid:before,
.intelicon-save:before {
  content: "\e635";
}

/* line 204, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-save-outlined:before {
  content: "\e636";
}

/* line 207, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-trash-solid:before,
.intelicon-trash:before {
  content: "\e637";
}

/* line 211, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-trash-outlined:before {
  content: "\e638";
}

/* line 214, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-tag-solid:before,
.intelicon-tag:before {
  content: "\e639";
}

/* line 218, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-tag-outlined:before {
  content: "\e63a";
}

/* line 221, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-priority-flag-solid:before,
.intelicon-priority-flag:before {
  content: "\e63b";
}

/* line 225, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-priority-flag-outlined:before {
  content: "\e63c";
}

/* line 228, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-search-stack-solid:before,
.intelicon-search-stack:before {
  content: "\e63d";
}

/* line 232, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-search-stack-outlined:before {
  content: "\e63e";
}

/* line 235, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-search:before {
  content: "\e63f";
}

/* line 238, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-advance-search:before {
  content: "\e640";
}

/* line 241, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-pointing:before {
  content: "\e641";
}

/* line 244, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-more:before {
  content: "\e642";
}

/* line 247, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-menu:before {
  content: "\e643";
}

/* line 250, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-rewind-reverse:before {
  content: "\e644";
}

/* line 253, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-fast-forward:before {
  content: "\e645";
}

/* line 256, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-up:before {
  content: "\e646";
}

/* line 259, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-down:before {
  content: "\e647";
}

/* line 262, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-left-previous:before {
  content: "\e648";
}

/* line 265, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-right-next:before {
  content: "\e649";
}

/* line 268, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-expand:before {
  content: "\e64a";
}

/* line 271, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-shrink:before {
  content: "\e64b";
}

/* line 274, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-on-off:before {
  content: "\e64c";
}

/* line 277, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-no-access:before {
  content: "\e64d";
}

/* line 280, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-refresh:before {
  content: "\e64e";
}

/* line 283, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-reset-revert:before {
  content: "\e64f";
}

/* line 286, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-redo-repeat:before {
  content: "\e650";
}

/* line 289, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-undo:before {
  content: "\e651";
}

/* line 292, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-history:before {
  content: "\e652";
}

/* line 295, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-favorite-rating-solid:before,
.intelicon-favorite:before {
  content: "\e653";
}

/* line 299, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-favorite-rating-outlined:before,
.intelicon-rating:before {
  content: "\e654";
}

/* line 303, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-add-to-favorites-solid:before,
.intelicon-add-to-favorites:before {
  content: "\e655";
}

/* line 307, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-add-to-favorites-outlined:before {
  content: "\e656";
}

/* line 310, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-favorite-heart-solid:before {
  content: "\e657";
}

/* line 313, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-favorite-heart-outlined:before {
  content: "\e658";
}

/* line 316, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-add-to-favorites-heart-solid:before {
  content: "\e659";
}

/* line 319, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-add-to-favorites-heart-outlined:before {
  content: "\e65a";
}

/* line 322, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-code-solid:before,
.intelicon-code:before {
  content: "\e65b";
}

/* line 326, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-code-outlined:before {
  content: "\e65c";
}

/* line 329, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-link:before {
  content: "\e65d";
}

/* line 332, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-comment-solid:before,
.intelicon-comment:before {
  content: "\e65e";
}

/* line 336, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-comment-outlined:before {
  content: "\e65f";
}

/* line 339, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-text-solid:before,
.intelicon-text:before {
  content: "\e660";
}

/* line 343, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-text-outlined:before {
  content: "\e661";
}

/* line 346, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sms-message-solid:before,
.intelicon-sms-message:before {
  content: "\e662";
}

/* line 350, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sms-message-outlined:before {
  content: "\e663";
}

/* line 353, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-instant-message-solid:before,
.intelicon-instant-message:before {
  content: "\e664";
}

/* line 357, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-instant-message-outlined:before {
  content: "\e665";
}

/* line 360, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-messages-solid:before,
.intelicon-messages:before {
  content: "\e666";
}

/* line 364, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-messages-outlined:before {
  content: "\e667";
}

/* line 367, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-discussion-solid:before,
.intelicon-discussion:before {
  content: "\e668";
}

/* line 371, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-discussion-outlined:before {
  content: "\e669";
}

/* line 374, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-discussion-with-question-solid:before,
.intelicon-discussion-with-question:before {
  content: "\e66a";
}

/* line 378, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-discussion-with-question-outlined:before {
  content: "\e66b";
}

/* line 381, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-discussion-with-question-answered-solid:before,
.intelicon-discussion-with-question-answered:before {
  content: "\e66c";
}

/* line 385, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-discussion-with-question-answered-outlined:before {
  content: "\e66d";
}

/* line 388, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-blog:before {
  content: "\e66e";
}

/* line 391, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-rss-feed-solid:before,
.intelicon-rss-feed:before {
  content: "\e66f";
}

/* line 395, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-rss-feed-outlined:before {
  content: "\e670";
}

/* line 398, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-email-message-solid:before,
.intelicon-email-message:before {
  content: "\e671";
}

/* line 402, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-email-message-outlined:before {
  content: "\e672";
}

/* line 405, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-reply:before {
  content: "\e673";
}

/* line 408, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-forward:before {
  content: "\e674";
}

/* line 411, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-announcements-solid:before,
.intelicon-announcements:before {
  content: "\e675";
}

/* line 415, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-announcements-outlined:before {
  content: "\e676";
}

/* line 418, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-notification:before {
  content: "\e677";
}

/* line 421, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-phone:before {
  content: "\e678";
}

/* line 424, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-headset:before {
  content: "\e679";
}

/* line 427, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-headset-with-microphone:before {
  content: "\e67a";
}

/* line 430, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-like:before {
  content: "\e67b";
}

/* line 433, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-dislike:before {
  content: "\e67c";
}

/* line 436, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-network:before {
  content: "\e67d";
}

/* line 439, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-document-solid:before,
.intelicon-document:before {
  content: "\e67e";
}

/* line 443, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-document-outlined:before {
  content: "\e67f";
}

/* line 446, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-copy-solid:before,
.intelicon-copy:before {
  content: "\e680";
}

/* line 450, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-copy-outlined:before {
  content: "\e681";
}

/* line 453, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-new-document-solid:before,
.intelicon-new-document:before {
  content: "\e682";
}

/* line 457, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-new-document-outlined:before {
  content: "\e683";
}

/* line 460, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-attach-document-solid:before,
.intelicon-attach-document:before {
  content: "\e684";
}

/* line 464, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-attach-document-outlined:before {
  content: "\e685";
}

/* line 467, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-read-write-document-solid:before,
.intelicon-read-write-document:before {
  content: "\e686";
}

/* line 471, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-read-write-document-outlined:before {
  content: "\e687";
}

/* line 474, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-read-only-document-solid:before,
.intelicon-read-only-document:before {
  content: "\e688";
}

/* line 478, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-read-only-document-outlined:before {
  content: "\e689";
}

/* line 481, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-export-solid:before,
.intelicon-export:before {
  content: "\e68a";
}

/* line 485, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-export-outlined:before {
  content: "\e68b";
}

/* line 488, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-import-solid:before,
.intelicon-import:before {
  content: "\e68c";
}

/* line 492, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-import-outlined:before {
  content: "\e68d";
}

/* line 495, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-note:before {
  content: "\e68e";
}

/* line 498, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-notes-notebook-solid:before,
.intelicon-notes-notebook:before {
  content: "\e68f";
}

/* line 502, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-notes-notebook-outlined:before {
  content: "\e690";
}

/* line 505, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-attach:before {
  content: "\e691";
}

/* line 508, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-library:before {
  content: "\e692";
}

/* line 511, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-bookmarks-solid:before,
.intelicon-bookmarks:before {
  content: "\e693";
}

/* line 515, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-bookmarks-outlined:before {
  content: "\e694";
}

/* line 518, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-directory-solid:before,
.intelicon-directory:before {
  content: "\e695";
}

/* line 522, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-directory-outlined:before {
  content: "\e696";
}

/* line 525, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-contacts-solid:before,
.intelicon-contacts:before {
  content: "\e697";
}

/* line 529, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-contacts-outlined:before {
  content: "\e698";
}

/* line 532, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-download-solid:before,
.intelicon-download:before {
  content: "\e699";
}

/* line 536, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-download-outlined:before {
  content: "\e69a";
}

/* line 539, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-upload-solid:before,
.intelicon-upload:before {
  content: "\e69b";
}

/* line 543, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-upload-outlined:before {
  content: "\e69c";
}

/* line 546, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-cloud-solid:before,
.intelicon-cloud:before {
  content: "\e69d";
}

/* line 550, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-cloud-outlined:before {
  content: "\e69e";
}

/* line 553, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-download-to-cloud-solid:before,
.intelicon-download-to-cloud:before {
  content: "\e69f";
}

/* line 557, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-download-to-cloud-outlined:before {
  content: "\e6a0";
}

/* line 560, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-upload-to-cloud-solid:before,
.intelicon-upload-to-cloud:before {
  content: "\e6a1";
}

/* line 564, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-upload-to-cloud-outlined:before {
  content: "\e6a2";
}

/* line 567, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-ms-excel-solid:before,
.intelicon-ms-excel:before {
  content: "\e6a3";
}

/* line 571, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-ms-excel-outlined:before {
  content: "\e6a4";
}

/* line 574, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-time-solid:before,
.intelicon-time:before {
  content: "\e6a5";
}

/* line 578, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-time-outlined:before {
  content: "\e6a6";
}

/* line 581, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-select-time-solid:before,
.intelicon-select-time:before {
  content: "\e6a7";
}

/* line 585, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-select-time-outlined:before {
  content: "\e6a8";
}

/* line 588, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sound-solid:before,
.intelicon-sound:before {
  content: "\e6a9";
}

/* line 592, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sound-outlined:before {
  content: "\e6aa";
}

/* line 595, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-mute-sound-off-solid:before,
.intelicon-mute-sound-off:before {
  content: "\e6ab";
}

/* line 599, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-mute-sound-off-outlined:before {
  content: "\e6ac";
}

/* line 602, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sound-on-solid:before,
.intelicon-sound-on:before {
  content: "\e6ad";
}

/* line 606, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sound-on-outlined:before {
  content: "\e6ae";
}

/* line 609, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-settings-solid:before,
.intelicon-settings:before {
  content: "\e6af";
}

/* line 613, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-settings-outlined:before {
  content: "\e6b0";
}

/* line 616, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-tools:before {
  content: "\e6b1";
}

/* line 619, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-signal:before {
  content: "\e6b2";
}

/* line 622, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-bright-on:before {
  content: "\e6b3";
}

/* line 625, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-bright-off:before {
  content: "\e6b4";
}

/* line 628, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-contrast:before {
  content: "\e6b5";
}

/* line 631, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-energy-solid:before,
.intelicon-energy:before {
  content: "\e6b6";
}

/* line 635, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-energy-outlined:before {
  content: "\e6b7";
}

/* line 638, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-battery-charging:before {
  content: "\e6b8";
}

/* line 641, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-battery-full:before {
  content: "\e6b9";
}

/* line 644, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-battery-high:before {
  content: "\e6ba";
}

/* line 647, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-battery-medium:before {
  content: "\e6bb";
}

/* line 650, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-battery-low:before {
  content: "\e6bc";
}

/* line 653, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-battery-empty:before {
  content: "\e6bd";
}

/* line 656, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-activity-solid:before,
.intelicon-activity:before {
  content: "\e6be";
}

/* line 660, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-activity-outlined:before {
  content: "\e6bf";
}

/* line 663, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-location:before {
  content: "\e6c0";
}

/* line 666, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-detect-location:before {
  content: "\e6c1";
}

/* line 669, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-map:before {
  content: "\e6c2";
}

/* line 672, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-browse-view-map:before {
  content: "\e6c3";
}

/* line 675, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-directions:before {
  content: "\e6c4";
}

/* line 678, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-campus-building:before {
  content: "\e6c5";
}

/* line 681, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-campus:before {
  content: "\e6c6";
}

/* line 684, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-find-campus:before {
  content: "\e6c7";
}

/* line 687, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-select-campus:before {
  content: "\e6c8";
}

/* line 690, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-navigate-campus:before {
  content: "\e6c9";
}

/* line 693, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-pin-solid:before,
.intelicon-pin:before {
  content: "\e6ca";
}

/* line 697, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-pin-outlined:before {
  content: "\e6cb";
}

/* line 700, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-dining-cafeteria:before {
  content: "\e6cc";
}

/* line 703, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-travel:before {
  content: "\e6cd";
}

/* line 706, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-world:before {
  content: "\e6ce";
}

/* line 709, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-devices:before {
  content: "\e6cf";
}

/* line 712, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-mobile:before {
  content: "\e6d0";
}

/* line 715, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-tablet:before {
  content: "\e6d1";
}

/* line 718, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-laptop:before {
  content: "\e6d2";
}

/* line 721, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-desktop:before {
  content: "\e6d3";
}

/* line 724, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-server-solid:before,
.intelicon-server:before {
  content: "\e6d4";
}

/* line 728, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-server-outlined:before {
  content: "\e6d5";
}

/* line 731, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-hd:before {
  content: "\e6d6";
}

/* line 734, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-ssd-solid:before,
.intelicon-ssd:before {
  content: "\e6d7";
}

/* line 738, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-ssd-outlined:before {
  content: "\e6d8";
}

/* line 741, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-memory-card-solid:before,
.intelicon-memory-card:before {
  content: "\e6d9";
}

/* line 745, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-memory-card-outlined:before {
  content: "\e6da";
}

/* line 748, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-printer-solid:before,
.intelicon-printer:before {
  content: "\e6db";
}

/* line 752, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-printer-outlined:before {
  content: "\e6dc";
}

/* line 755, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-router:before {
  content: "\e6dd";
}

/* line 758, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-mouse-solid:before,
.intelicon-mouse:before {
  content: "\e6de";
}

/* line 762, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-mouse-outlined:before {
  content: "\e6df";
}

/* line 765, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-software:before {
  content: "\e6e0";
}

/* line 768, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-widget:before {
  content: "\e6e1";
}

/* line 771, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-sense:before {
  content: "\e6e2";
}

/* line 774, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-skip-backward:before {
  content: "\e6e3";
}

/* line 777, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-play:before {
  content: "\e6e4";
}

/* line 780, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-pause:before {
  content: "\e6e5";
}

/* line 783, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-skip-forward:before {
  content: "\e6e6";
}

/* line 786, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-repeat-once:before {
  content: "\e6e7";
}

/* line 789, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-repeat-play:before {
  content: "\e6e8";
}

/* line 792, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-random:before {
  content: "\e6e9";
}

/* line 795, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-eject:before {
  content: "\e6ea";
}

/* line 798, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-video-solid:before,
.intelicon-video:before {
  content: "\e6eb";
}

/* line 802, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-video-outlined:before {
  content: "\e6ec";
}

/* line 805, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-games:before {
  content: "\e6ed";
}

/* line 808, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-microphone:before {
  content: "\e6ee";
}

/* line 811, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-music:before {
  content: "\e6ef";
}

/* line 814, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-camera:before {
  content: "\e6f0";
}

/* line 817, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-photo-image:before {
  content: "\e6f1";
}

/* line 820, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-internet-web:before {
  content: "\e6f2";
}

/* line 823, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-news:before {
  content: "\e6f3";
}

/* line 826, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-locked-solid:before,
.intelicon-locked:before {
  content: "\e6f4";
}

/* line 830, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-locked-outlined:before {
  content: "\e6f5";
}

/* line 833, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-unlocked-solid:before,
.intelicon-unlocked:before {
  content: "\e6f6";
}

/* line 837, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-unlocked-outlined:before {
  content: "\e6f7";
}

/* line 840, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-protection-solid:before,
.intelicon-protection:before {
  content: "\e6f8";
}

/* line 844, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-protection-outlined:before,
.intelicon-protection-available:before {
  content: "\e6f9";
}

/* line 848, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-protection-failed-solid:before,
.intelicon-protection-failed:before {
  content: "\e6fa";
}

/* line 852, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-protection-failed-outlined:before {
  content: "\e6fb";
}

/* line 855, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-protection-checked-verified-solid:before,
.intelicon-protection-checked-verified:before {
  content: "\e6fc";
}

/* line 859, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-protection-checked-verified-outlined:before {
  content: "\e6fd";
}

/* line 862, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-password-security-access:before {
  content: "\e6fe";
}

/* line 865, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-calendar-solid:before,
.intelicon-calendar:before {
  content: "\e6ff";
}

/* line 869, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-calendar-outlined:before {
  content: "\e700";
}

/* line 872, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-meeting:before {
  content: "\e701";
}

/* line 875, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-agenda:before {
  content: "\e702";
}

/* line 878, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-bar-chart-solid:before,
.intelicon-bar-chart:before {
  content: "\e703";
}

/* line 882, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-bar-chart-outlined:before {
  content: "\e704";
}

/* line 885, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-line-chart-solid:before,
.intelicon-line-chart:before {
  content: "\e705";
}

/* line 889, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-line-chart-outlined:before {
  content: "\e706";
}

/* line 892, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-pie-chart:before {
  content: "\e707";
}

/* line 895, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-reports-solid:before,
.intelicon-reports:before {
  content: "\e708";
}

/* line 899, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-reports-outlined:before {
  content: "\e709";
}

/* line 902, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-task:before {
  content: "\e70a";
}

/* line 905, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-jobs-solid:before,
.intelicon-jobs:before {
  content: "\e70b";
}

/* line 909, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-jobs-outlined:before {
  content: "\e70c";
}

/* line 912, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-lab:before {
  content: "\e70d";
}

/* line 915, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-frame-template:before {
  content: "\e70e";
}

/* line 918, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-org-chart:before {
  content: "\e70f";
}

/* line 921, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-parent:before {
  content: "\e710";
}

/* line 924, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-child:before {
  content: "\e711";
}

/* line 927, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-break:before {
  content: "\e712";
}

/* line 930, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-idea-solid:before,
.intelicon-idea:before {
  content: "\e713";
}

/* line 934, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-idea-outlined:before {
  content: "\e714";
}

/* line 937, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-award-solid:before,
.intelicon-award:before {
  content: "\e715";
}

/* line 941, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-award-outlined:before {
  content: "\e716";
}

/* line 944, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-opportunity-target-goal:before {
  content: "\e717";
}

/* line 947, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-opportunity-target-approved:before {
  content: "\e718";
}

/* line 950, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-seed:before {
  content: "\e719";
}

/* line 953, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-payment:before {
  content: "\e71a";
}

/* line 956, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-shopping-cart:before {
  content: "\e71b";
}

/* line 959, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-wallet-solid:before,
.intelicon-wallet:before {
  content: "\e71c";
}

/* line 963, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-wallet-outlined:before {
  content: "\e71d";
}

/* line 966, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-credit-card:before {
  content: "\e71e";
}

/* line 969, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-gift-solid:before,
.intelicon-gift:before {
  content: "\e71f";
}

/* line 973, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-gift-outlined:before {
  content: "\e720";
}

/* line 976, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-services:before {
  content: "\e721";
}

/* line 979, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-support-services:before {
  content: "\e722";
}

/* line 982, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-submit-a-ticket-solid:before,
.intelicon-submit-a-ticket:before {
  content: "\e723";
}

/* line 986, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-submit-a-ticket-outlined:before {
  content: "\e724";
}

/* line 989, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-escalate-a-ticket-solid:before,
.intelicon-escalate-a-ticket:before {
  content: "\e725";
}

/* line 993, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-escalate-a-ticket-outlined:before {
  content: "\e726";
}

/* line 996, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-expedite-a-ticket-solid:before,
.intelicon-expedite-a-ticket:before {
  content: "\e727";
}

/* line 1000, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-expedite-a-ticket-outlined:before {
  content: "\e728";
}

/* line 1003, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-reopen-a-ticket-solid:before,
.intelicon-reopen-a-ticket:before {
  content: "\e729";
}

/* line 1007, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-reopen-a-ticket-outlined:before {
  content: "\e72a";
}

/* line 1010, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-cancel-a-ticket-solid:before,
.intelicon-cancel-a-ticket:before {
  content: "\e72b";
}

/* line 1014, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-cancel-a-ticket-outlined:before {
  content: "\e72c";
}

/* line 1017, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-view-browse-ticket-solid:before,
.intelicon-view-browse-ticket:before {
  content: "\e72d";
}

/* line 1021, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-view-browse-ticket-outlined:before {
  content: "\e72e";
}

/* line 1024, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-person-solid:before,
.intelicon-user-person:before {
  content: "\e72f";
}

/* line 1028, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-person-outlined:before {
  content: "\e730";
}

/* line 1031, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-find-a-person-solid:before,
.intelicon-find-a-person:before {
  content: "\e731";
}

/* line 1035, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-find-a-person-outlined:before {
  content: "\e732";
}

/* line 1038, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-primary-user-person-solid:before,
.intelicon-primary-user-person:before {
  content: "\e733";
}

/* line 1042, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-primary-user-person-outlined:before {
  content: "\e734";
}

/* line 1045, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-find-a-friend-solid:before,
.intelicon-find-a-friend:before {
  content: "\e735";
}

/* line 1049, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-find-a-friend-outlined:before {
  content: "\e736";
}

/* line 1052, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-friend-solid:before,
.intelicon-friend:before {
  content: "\e737";
}

/* line 1056, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-friend-outlined:before {
  content: "\e738";
}

/* line 1059, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-approved-selected-solid:before,
.intelicon-user-approved-selected:before {
  content: "\e73a";
}

/* line 1063, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-approved-selected-outlined:before {
  content: "\e739";
}

/* line 1066, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-declined-canceled-solid:before,
.intelicon-user-declined-canceled:before {
  content: "\e73b";
}

/* line 1070, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-declined-canceled-outlined:before {
  content: "\e73c";
}

/* line 1073, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-users-people-solid:before,
.intelicon-users-people:before {
  content: "\e73d";
}

/* line 1077, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-users-people-outlined:before {
  content: "\e73e";
}

/* line 1080, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-group-people-team-solid:before,
.intelicon-group-people-team:before {
  content: "\e73f";
}

/* line 1084, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-group-people-team-outlined:before {
  content: "\e740";
}

/* line 1087, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-fellow-traveler:before {
  content: "\e741";
}

/* line 1090, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-collaboration:before {
  content: "\e742";
}

/* line 1093, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-find-an-expert:before {
  content: "\e743";
}

/* line 1096, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-account-solid:before,
.intelicon-user-account:before {
  content: "\e744";
}

/* line 1100, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-user-account-outlined:before {
  content: "\e745";
}

/* line 1103, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-interpersonal-connection:before {
  content: "\e746";
}

/* line 1106, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-interpersonal-connected:before {
  content: "\e747";
}

/* line 1109, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-share:before {
  content: "\e748";
}

/* line 1112, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-female:before {
  content: "\e749";
}

/* line 1115, ../../IT-MLAF-SASS/_intel-icons.scss */
.intelicon-male:before {
  content: "\e74a";
}

/* --------------------------
 * INTEL NAVBAR DEFAULT
 * --------------------------
*/
/*comment here for testing*/
/* line 7, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel {
  background-color: #0071C5;
  border-color: #004280;
}
/* line 11, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-logo {
  float: left;
  height: 50px;
  padding: 10px 15px;
}
/* line 17, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-brand {
  color: #fff;
}
/* line 19, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-brand:hover, .navbar-intel .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
/* line 26, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-text {
  color: #B1BABF;
}
/* line 31, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-nav > li > a {
  color: #fff;
}
/* line 34, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-nav > li > a:hover, .navbar-intel .navbar-nav > li > a:focus {
  color: #e6e6e6;
  background-color: #005492;
}
/* line 41, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-nav > .active > a, .navbar-intel .navbar-nav > .active > a:hover, .navbar-intel .navbar-nav > .active > a:focus {
  color: #e6e6e6;
  background-color: #004280;
}
/* line 49, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-nav > .disabled > a, .navbar-intel .navbar-nav > .disabled > a:hover, .navbar-intel .navbar-nav > .disabled > a:focus {
  color: #B1BABF;
  background-color: transparent;
}
/* line 59, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-toggle {
  border-color: transparent;
}
/* line 61, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-toggle:hover, .navbar-intel .navbar-toggle:focus {
  background-color: #004280;
}
/* line 65, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 70, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-collapse,
.navbar-intel .navbar-form {
  border-color: #005da1;
}
/* line 78, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-nav > .open > a, .navbar-intel .navbar-nav > .open > a:hover, .navbar-intel .navbar-nav > .open > a:focus {
  background-color: #004280;
  color: #e6e6e6;
}
@media (max-width: 767px) {
  /* line 89, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #004280;
  }
  /* line 92, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel .navbar-nav .open .dropdown-menu .divider {
    background-color: #004280;
  }
  /* line 95, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  /* line 97, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-intel .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
    background-color: #005492;
  }
  /* line 104, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel .navbar-nav .open .dropdown-menu > .active > a, .navbar-intel .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-intel .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e6e6e6;
    background-color: #004280;
  }
  /* line 112, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-intel .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-intel .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #B1BABF;
    background-color: transparent;
  }
}
/* line 123, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-link {
  color: #fff;
}
/* line 125, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel .navbar-link:hover {
  color: #e6e6e6;
}

/* --------------------------
 * INTEL NAVBAR WHITE
 * --------------------------
*/
/* line 136, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt {
  background-color: #fff;
  border: 0;
  border-top: 3px solid #0071C5 !important;
  border-bottom: 1px solid #B1BABF !important;
  /* Darken the responsive nav toggle */
  /*
  .navbar-toggle {
  	border-color: transparent;
  	&:hover,
  	&:focus {
  		background-color: $navbar-intel-toggle-hover-bg;
  	}
  	.icon-bar {
  		background-color: $darkGray;
  	}
  }
  */
}
/* line 142, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .kink {
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
/* line 150, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .kink .triangle {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 34.64px solid #0071C5;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  height: 0;
  top: -20px;
  width: 0;
}
/* line 163, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .kink .block {
  background-color: #0071C5;
  height: 40px;
  left: 34px;
  position: absolute;
  top: -20px;
  width: 26px;
}
/* line 173, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-logo {
  float: left;
  height: 50px;
  padding: 8px 15px;
}
/* line 179, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-brand {
  color: #53565A;
}
/* line 181, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-brand:hover, .navbar-intel-alt .navbar-brand:focus {
  color: #53565A;
  background-color: transparent;
}
/* line 188, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-text {
  color: #53565A;
}
/* line 193, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-nav > li > a {
  color: #0071C5;
}
/* line 196, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-nav > li > a:hover, .navbar-intel-alt .navbar-nav > li > a:focus {
  color: #004280;
  background-color: transparent;
}
/* line 203, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-nav > .active > a, .navbar-intel-alt .navbar-nav > .active > a:hover, .navbar-intel-alt .navbar-nav > .active > a:focus {
  color: #53565A;
  background-color: #EDEFF0;
}
/* line 211, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-nav > .disabled > a, .navbar-intel-alt .navbar-nav > .disabled > a:hover, .navbar-intel-alt .navbar-nav > .disabled > a:focus {
  color: #B1BABF;
  background-color: transparent;
}
/* line 233, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-toggle {
  margin-right: 40px;
  margin-bottom: 4px;
  border-color: transparent;
}
/* line 237, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-toggle:hover, .navbar-intel-alt .navbar-toggle:focus {
  background-color: #004280;
}
/* line 240, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-toggle:hover .icon-bar, .navbar-intel-alt .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 244, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-toggle .icon-bar {
  width: 4px;
  height: 4px;
  background-color: #004280;
}
/* line 251, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-collapse,
.navbar-intel-alt .navbar-form {
  border-color: #005da1;
}
/* line 259, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-nav > .open > a, .navbar-intel-alt .navbar-nav > .open > a:hover, .navbar-intel-alt .navbar-nav > .open > a:focus {
  color: #53565A;
  background-color: #EDEFF0;
}
@media (max-width: 767px) {
  /* line 270, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel-alt .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #004280;
  }
  /* line 273, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel-alt .navbar-nav .open .dropdown-menu .divider {
    background-color: #004280;
  }
  /* line 276, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel-alt .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  /* line 278, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel-alt .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-intel-alt .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
    background-color: #005492;
  }
  /* line 285, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel-alt .navbar-nav .open .dropdown-menu > .active > a, .navbar-intel-alt .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-intel-alt .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e6e6e6;
    background-color: #004280;
  }
  /* line 293, ../../IT-MLAF-SASS/_intel-styles.scss */
  .navbar-intel-alt .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-intel-alt .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-intel-alt .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #B1BABF;
    background-color: transparent;
  }
}
/* line 304, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-link {
  color: #fff;
}
/* line 306, ../../IT-MLAF-SASS/_intel-styles.scss */
.navbar-intel-alt .navbar-link:hover {
  color: #e6e6e6;
}

/* --------------------------
 * INTEL HEADER - NO NAV
 * --------------------------
*/
/* line 318, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel {
  padding-top: 6px;
  /*padding-top: 4px;*/
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 8px;
}
/* line 324, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
/* line 329, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-brand {
  padding-top: 22px;
  font-size: 20px;
}
/* line 334, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-logo {
  height: 65px;
  float: right;
}
/* line 339, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-links {
  margin-top: 20px;
  color: #00AEEF;
  font-size: 13px;
  padding-left: 0px;
}
/* line 345, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-links li {
  display: block;
  float: left;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
}
/* line 354, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-links a {
  overflow: hidden;
  padding-top: 5px;
  color: #FFF;
}
/* line 358, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-links a:hover {
  text-decoration: underline;
}
/* line 363, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-links i {
  font-size: 18px;
  display: block;
  margin-bottom: 4px;
  margin-right: 3px;
}
/* line 370, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-links span {
  padding-top: 5px;
}
/* line 374, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-links input {
  width: 100px;
  height: 22px;
  margin-right: 3px;
  padding: 4px;
  float: left;
  border: 0px;
}
/* line 384, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel #work-week {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #00AEEF;
  padding-top: 4px;
}
/* line 391, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel #help {
  padding-top: 4px;
}
/* line 395, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel #search i {
  margin-top: 4px;
}
/* line 399, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel .navbar-toggle {
  border-color: transparent;
}
@media (max-width: 767px) {
  /* line 318, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel {
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 410, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel .navbar-brand {
    padding-top: 14px;
    padding-left: 0px;
    font-size: 18px;
  }
  /* line 416, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel .navbar-logo {
    height: 50px;
    float: left;
  }
  /* line 421, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel .navbar-links {
    display: none;
  }
  /* line 425, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel .navbar-toggle {
    float: right;
  }
}
/* line 430, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white {
  background-color: #fff;
  border-style: solid;
  border-bottom: 1px solid #B1BABF;
}
/* line 435, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-brand {
  color: #0071C5;
}
/* line 439, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-links {
  color: #939598;
}
/* line 442, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-links a {
  color: #0071C5;
}
/* line 446, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-links input {
  border-width: 1px;
  border-style: solid;
  border-color: #B1BABF;
}
/* line 453, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-toggle {
  border-color: transparent;
}
/* line 455, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-toggle:hover, .header-intel.header-intel-white .navbar-toggle:focus {
  background-color: #004280;
}
/* line 458, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-toggle:hover .icon-bar, .header-intel.header-intel-white .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 462, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white .navbar-toggle .icon-bar {
  background-color: #004280;
}
/* line 467, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-intel-white #work-week {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #B1BABF;
}
/* line 474, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #0071C5;
  padding: 0px;
}
/* line 480, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .navbar-brand {
  padding-top: 19px;
  padding-left: 0px;
  font-size: 20px;
}
/* line 486, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .kink {
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
/* line 494, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .kink .triangle {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 34.64px solid #0071C5;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  height: 0;
  top: -20px;
  width: 0;
}
/* line 507, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .kink .block {
  background-color: #0071C5;
  height: 40px;
  left: 34px;
  position: absolute;
  top: -20px;
  width: 26px;
}
/* line 517, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .navbar-logo {
  height: 55px;
  float: left;
}
/* line 522, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .navbar-links {
  margin-right: 30px;
}
@media (max-width: 767px) {
  /* line 474, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel.header-kink {
    min-height: 60px;
  }
  /* line 529, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel.header-kink .navbar-brand {
    padding-top: 14px;
    padding-left: 20px;
    font-size: 18px;
  }
  /* line 535, ../../IT-MLAF-SASS/_intel-styles.scss */
  .header-intel.header-kink .navbar-logo {
    display: none;
    height: 50px;
    float: left;
  }
}
/* line 542, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .navbar-toggle {
  margin-right: 40px;
  margin-bottom: 4px;
}
/* line 546, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink .navbar-toggle .icon-bar {
  width: 4px;
  height: 4px;
}
/* line 553, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink-white {
  border-top-color: #fff;
}
/* line 558, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink-white .kink .triangle {
  border-right: 34.64px solid #fff;
}
/* line 563, ../../IT-MLAF-SASS/_intel-styles.scss */
.header-intel.header-kink-white .kink .block {
  background-color: #fff;
}

/* --------------------------
 * NAVS
 * --------------------------
*/
/* line 575, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav {
  /*side nav*/
}
/* line 578, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel {
  border-bottom: 5px solid #0071C5;
  padding-left: 10px;
  margin-bottom: 20px;
}
/* line 583, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li {
  margin-bottom: 0px;
  /* open menu on hover functionality */
  /* second, third, etc. level list styles */
}
/* line 586, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li a {
  border-color: #0071C5;
  background-color: #0071C5;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 6px;
  padding-bottom: 5px;
  margin-top: 5px;
}
/* line 596, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li a:hover {
  background-color: #00AEEF;
  border-color: #00AEEF;
}
/* line 601, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li a:active {
  background-color: #00AEEF;
  border-color: #00AEEF;
}
/* line 606, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li a:focus {
  background-color: #004280;
  border-color: #004280;
}
/* line 613, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li.active a {
  border-color: #0071C5;
  font-weight: bold;
  border-bottom-color: transparent;
  padding-bottom: 10px;
  margin-bottom: -5px;
  margin-top: 5px;
}
/* line 621, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li.active a:hover {
  border-color: #0071C5;
  border-bottom-color: transparent;
}
/* line 628, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li.active li a {
  font-weight: normal;
}
/* line 636, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li:hover .dropdown-menu-hover {
  display: block;
}
/* line 641, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li:hover .dropdown-menu-hover li ul {
  display: none;
}
/* line 647, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li:hover .dropdown-menu-hover li:hover ul {
  display: block;
}
/* line 656, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li ul {
  padding: 0px;
}
/* line 661, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li ul li a {
  border-color: transparent;
  background-color: transparent;
  color: #53565A;
  margin-right: 0px;
  padding: 5px 20px;
  margin-top: 0px;
}
/* line 669, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li ul li a:hover {
  color: #fff;
}
/* line 674, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel li ul li ul {
  position: absolute;
  right: 0;
}
/* line 683, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks {
  background-color: #1891EE;
  padding-left: 10px;
  margin-bottom: 20px;
  border-bottom-width: 0px;
}
/* line 689, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li {
  margin-bottom: 0px;
  /* open menu on hover functionality */
  /* second, third, etc. level list styles */
}
/* line 692, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li a {
  border-color: transparent;
  background-color: #1891EE;
  border-right: 1px solid #0071C5;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 9px;
  margin-right: 0px;
  border-radius: 0;
}
/* line 703, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li a:hover {
  background-color: #00AEEF;
  border-color: transparent;
  border-right: 1px solid #0071C5;
}
/* line 709, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li a:active {
  background-color: #00AEEF;
  border-color: transparent;
  border-right: 1px solid #0071C5;
}
/* line 715, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li a:focus {
  background-color: #00AEEF;
  border-color: transparent;
  border-right: 1px solid #0071C5;
}
/* line 723, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li.active a {
  font-weight: bold;
  border-color: transparent;
}
/* line 727, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li.active a:hover {
  border-color: transparent;
}
/* line 733, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li.active li a {
  font-weight: normal;
}
/* line 741, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li:hover .dropdown-menu-hover {
  display: block;
}
/* line 746, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li:hover .dropdown-menu-hover li ul {
  display: none;
}
/* line 752, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li:hover .dropdown-menu-hover li:hover ul {
  display: block;
}
/* line 761, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li ul {
  padding: 0px;
}
/* line 766, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li ul li a {
  border-color: transparent;
  background-color: transparent;
  color: #53565A;
  margin-right: 0px;
  padding: 5px 20px;
  margin-top: 0px;
}
/* line 774, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li ul li a:hover {
  color: #fff;
}
/* line 779, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.nav-tabs-intel-blocks li ul li ul {
  position: absolute;
  right: 0;
}
/* line 789, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.sidenav {
  margin-top: 45px;
}
/* line 793, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.sidenav li a {
  padding: 6px 20px;
  font-size: 14px;
  color: #939598;
}
/* line 800, ../../IT-MLAF-SASS/_intel-styles.scss */
.nav.sidenav li.active a {
  font-weight: bold;
  padding-left: 17px;
  border-left: 3px solid #00AEEF;
  color: #53565A;
}

/* --------------------------
 * BUTTON OVERRIDES
 * --------------------------
*/
/* line 818, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn:active {
  box-shadow: none;
}
/* line 822, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  background-color: #EDEFF0 !important;
  border-color: #B1BABF !important;
  color: #939598 !important;
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  box-shadow: none;
}
/* line 834, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default {
  color: #0071C5;
  background-color: #fff;
  border-color: #B1BABF;
}
/* line 839, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default:hover {
  color: #0071C5;
  background-color: #EDEFF0;
  border-color: #B1BABF;
}
/* line 845, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default:active {
  background-color: #B1BABF;
}
/* line 849, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default:focus {
  background-color: #B1BABF;
}
/* line 854, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default-grey {
  color: #53565A;
  background-color: #fff;
  border-color: #B1BABF;
}
/* line 859, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default-grey:hover {
  color: #53565A;
  background-color: #EDEFF0;
  border-color: #B1BABF;
}
/* line 865, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default-grey:active {
  background-color: #B1BABF;
}
/* line 869, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-default-grey:focus {
  background-color: #B1BABF;
}
/* line 874, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-cancel {
  background-color: #EDEFF0;
  border-color: #B1BABF;
}
/* line 878, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-cancel:hover {
  background-color: #EDEFF0;
  border-color: #EDEFF0;
}
/* line 883, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-cancel:active {
  background-color: #B1BABF;
  border-color: #939598;
}
/* line 889, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-primary {
  background-color: #0071C5;
  border-color: #0071C5;
}
/* line 893, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-primary:hover {
  background-color: #00AEEF;
  border-color: #00AEEF;
}
/* line 898, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-primary:active {
  background-color: #004280;
  border-color: #004280;
}
/* line 904, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-success {
  background-color: #A6CE39;
  border-color: #A6CE39;
}
/* line 908, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-success:hover {
  background-color: #b4dc39;
  border-color: #b4dc39;
}
/* line 913, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-success:active {
  background-color: #36781a;
  border-color: #36781a;
}
/* line 919, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-danger {
  background-color: #ED1C1A;
  border-color: #ED1C1A;
}
/* line 923, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-danger:hover {
  background-color: #ff6450;
  border-color: #ff6450;
}
/* line 928, ../../IT-MLAF-SASS/_intel-styles.scss */
.btn.btn-danger:active {
  background-color: #931c1a;
  border-color: #931c1a;
}

/** Button group stuff **/
/* line 937, ../../IT-MLAF-SASS/_intel-styles.scss */
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 10;
}

/* --------------------------
 * INTEL TABLE
 * --------------------------
*/
/* line 948, ../../IT-MLAF-SASS/_intel-styles.scss */
.table-intel {
  border: 1px solid #B1BABF;
}
/* line 954, ../../IT-MLAF-SASS/_intel-styles.scss */
.table-intel > thead > tr > th,
.table-intel > thead > tr > td,
.table-intel > tbody > tr > th,
.table-intel > tbody > tr > td,
.table-intel > tfoot > tr > th,
.table-intel > tfoot > tr > td {
  border-left: 1px solid #B1BABF;
}
/* line 961, ../../IT-MLAF-SASS/_intel-styles.scss */
.table-intel > thead > tr > th,
.table-intel > thead > tr > td {
  border-bottom-width: 2px;
}
/* line 966, ../../IT-MLAF-SASS/_intel-styles.scss */
.table-intel > thead {
  background-color: #EDEFF0;
}
/* line 973, ../../IT-MLAF-SASS/_intel-styles.scss */
.table-intel tbody > tr.success td, .table-intel tbody > tr.info td, .table-intel tbody > tr.warning td, .table-intel tbody > tr.danger td {
  color: #fff;
  font-weight: bold;
}
/* line 986, ../../IT-MLAF-SASS/_intel-styles.scss */
.table-intel tbody > tr > td.success, .table-intel tbody > tr > td.info, .table-intel tbody > tr > td.warning, .table-intel tbody > tr > td.danger {
  color: #fff;
  font-weight: bold;
}

/* line 996, ../../IT-MLAF-SASS/_intel-styles.scss */
.table-intel-striped > tbody > tr:nth-child(odd) > td {
  background-color: #F7F8F9;
}

/* --------------------------
 * PAGE & SECTION TITLE HEADERS
 * --------------------------
*/
/* line 1007, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section {
  background-color: #EDEFF0;
  border: 1px solid #B1BABF;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
}
/* line 20, ../../IT-MLAF-SASS/_intel-mixins.scss */
.intel-header-section:before, .intel-header-section:after {
  content: " ";
  display: table;
}
/* line 25, ../../IT-MLAF-SASS/_intel-mixins.scss */
.intel-header-section:after {
  clear: both;
}

/* line 1016, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section-order,
.intel-header-section-subtitle,
.intel-header-section-title {
  float: left;
}

/* line 1022, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section-order {
  background-color: #fff;
  border-color: #fff;
  border-radius: 20px;
  color: #53565A;
  height: 40px;
  line-height: 40px;
  margin: 5px 15px;
  width: 40px;
  text-align: center;
}

/* line 1034, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section-order.intel-bg-dark {
  background-color: #EDEFF0;
  border-color: #EDEFF0;
}

/* line 1039, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section-title {
  color: #53565A;
  font-size: 1.5em;
  line-height: 30px;
  margin: 10px 0;
  padding: 0 15px;
}

/* line 1047, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section-subtitle {
  border-left: 1px solid #B1BABF;
  color: #53565A;
  font-size: 1.25em;
  line-height: 30px;
  margin: 10px 0;
  padding: 0 15px;
}

/* line 1056, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-bg-light {
  background-color: #fff;
}

/*** Left Border (optional) ***/
/* line 1061, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-left-border:before {
  background: url("../images/circuit_549x549.png") -10px -338px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

/*** Bottom Border ***/
/* line 1072, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-border-none {
  border-radius: 0;
  border-width: 0 0 2px 0;
}

/* line 1077, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-border-blue,
.intel-header-section.intel-border-pale-blue,
.intel-header-section.intel-border-green,
.intel-header-section.intel-border-orange,
.intel-header-section.intel-border-yellow {
  border-bottom-width: 2px;
}

/* line 1085, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-border-blue {
  border-bottom-color: #0071C5;
}

/* line 1089, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-border-pale-blue {
  border-bottom-color: #7ED3F7;
}

/* line 1093, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-border-green {
  border-bottom-color: #A6CE39;
}

/* line 1097, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-border-orange {
  border-bottom-color: #FDB813;
}

/* line 1101, ../../IT-MLAF-SASS/_intel-styles.scss */
.intel-header-section.intel-border-yellow {
  border-bottom-color: #FFDA00;
}

/* --------------------------
 * TEXT HELPER OVERRIDES
 * --------------------------
*/
/* line 1111, ../../IT-MLAF-SASS/_intel-styles.scss */
.text-success {
  color: #A6CE39 !important;
}

/* line 1115, ../../IT-MLAF-SASS/_intel-styles.scss */
.text-warning {
  color: #FDB813 !important;
}

/* line 1119, ../../IT-MLAF-SASS/_intel-styles.scss */
.text-danger {
  color: #ED1C1A !important;
}

/* line 1123, ../../IT-MLAF-SASS/_intel-styles.scss */
.text-info {
  color: #00AEEF !important;
}

/* --------------------------
 * FORM STATE OVERRIDES
 * --------------------------
*/
/* line 870, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #A6CE39 !important;
}
/* line 879, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-success .form-control {
  border-color: #A6CE39 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 882, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-success .form-control:focus {
  border-color: #88aa2a !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #cbe28b !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #cbe28b !important;
}
/* line 889, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-success .input-group-addon {
  color: #A6CE39 !important;
  border-color: #A6CE39 !important;
  background-color: #A6CE39 !important;
}
/* line 895, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-success .form-control-feedback {
  color: #A6CE39 !important;
}

/* line 870, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #FDB813 !important;
}
/* line 879, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-warning .form-control {
  border-color: #FDB813 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 882, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-warning .form-control:focus {
  border-color: #db9b02 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fed678 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fed678 !important;
}
/* line 889, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-warning .input-group-addon {
  color: #FDB813 !important;
  border-color: #FDB813 !important;
  background-color: #FDB813 !important;
}
/* line 895, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-warning .form-control-feedback {
  color: #FDB813 !important;
}

/* line 870, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #ED1C1A !important;
}
/* line 879, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-error .form-control {
  border-color: #ED1C1A !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 882, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-error .form-control:focus {
  border-color: #c5110f !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f47a79 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f47a79 !important;
}
/* line 889, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-error .input-group-addon {
  color: #ED1C1A !important;
  border-color: #ED1C1A !important;
  background-color: #ED1C1A !important;
}
/* line 895, ../../IT-MLAF-SASS/_intel-mixins.scss */
.has-error .form-control-feedback {
  color: #ED1C1A !important;
}

/* -------------------------- 
 * PANEL OVERRIDES 
 * -------------------------- 
*/
/* line 1151, ../../IT-MLAF-SASS/_intel-styles.scss */
.panel-default .panel-heading a {
  text-decoration: none;
}
/* line 1155, ../../IT-MLAF-SASS/_intel-styles.scss */
.panel-default .panel-heading i {
  color: #0071C5;
}
/* line 1159, ../../IT-MLAF-SASS/_intel-styles.scss */
.panel-default .panel-heading.active {
  background-color: #fff;
}

/* line 1166, ../../IT-MLAF-SASS/_intel-styles.scss */
.panel-body┬á {
  overflow-wrap: ┬ábreak-word;
}

/* -------------------------- 
 * ALERT OVERRIDES 
 * -------------------------- 
*/
/* line 1176, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert {
  border-color: #B1BABF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 1180, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert .alert-link {
  color: #53565A !important;
  text-decoration: underline;
}
/* line 1185, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert i {
  float: left;
  font-size: 20px;
  margin-right: 7px;
}
/* line 1191, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert.alert-warning {
  border-top: 3px solid #FDB813;
}
/* line 1194, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert.alert-warning i {
  color: #FDB813;
}
/* line 1199, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert.alert-danger {
  border-top: 3px solid #ED1C1A;
}
/* line 1202, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert.alert-danger i {
  color: #ED1C1A;
}
/* line 1207, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert.alert-success {
  border-top: 3px solid #A6CE39;
}
/* line 1210, ../../IT-MLAF-SASS/_intel-styles.scss */
.alert.alert-success i {
  color: #A6CE39;
}

/* -------------------------- 
 * WIZARD
 * -------------------------- 
*/
/* -------------------------- 
 * STICKY NAV OPTS 
 * -------------------------- 
*/
/* line 1228, ../../IT-MLAF-SASS/_intel-styles.scss */
.affix {
  top: 45px;
}
