.not_started {
  background-color: #d9534f;
  color: white;
}

.authoring_wip {
  background-color: #FFA300;
}

.release {
  background-color: #5cb85c;
  color: white;
}

.closed {
  background-color: #5cb85c;
  color: white;
}

.rejected {
  background-color: #939598;
  color: white;
}

.waived {
  background-color: #BDB76B;
}

.reviewpdf_queue {
  background-color: #0075a1;
  color: white;
}

.review_candidate {
  background-color: #003C71;
  color: white;
}

.review_complete {
  background-color: #C4D600;
}

.releasepdf_queue {
  background-color: #8ab85c;
}

.release_candidate {
  background-color: #899c63;
}

.parent-doc {
  background-color: lightblue;
}

.child-doc {
  background-color: cyan;
}

.doc-name {
  width: 36%;
}

.domain {
  width: 5%;
}

.doc-type {
  width: 5%;
}

.owner {
  width: 8%;
}

.status {
  width: 10%;
}

.latest-released {
  width: 15%;
}

.last-revision {
  width: 30%;
}

.next-eta {
  width: 10%;
}
