<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="white-text page-title">Spec Index</h4>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Release</label>
                    <ss-multiselect-dropdown [options]="releases" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedReleases"></ss-multiselect-dropdown>
                </div>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success" [disabled]="!selectedReleases || selectedReleases.length == 0" (click)="onSubmit()">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <alert type="info" dismissible="true">
                    <i class="fa fa-question-circle"></i> <small>To Start, from the Select Release pull-down menu, choose a program
                    of interest and then hit Submit button on right to load program data. Column filters are avialable to
                    filter data based on text values. For more information click: <a href="https://sharepoint.amr.ith.intel.com/sites/artcoe/Enabling%20Doc%20Tracking/Home.aspx"
                        target="_blank">[ Help ]</a>.</small>
                </alert>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="well well-sm" *ngIf="parents.length > 0">
            <div class="row">
                <div class="col-sm-3"><strong>Lead PM:</strong> {{selectedRelease.displayName}}</div>
                <div class="col-sm-3">
                    <label>
                            View Latest?
                            <input type="checkbox"[(ngModel)]="viewCurrent" />
                        </label>
                </div>
                <div class="col-sm-offset-4 col-sm-2">
                    <ng-template #popTemplate>
                        <div>
                            <i class='fa fa-caret-right'></i> PEG Users click
                            <a href='https://iem.intel.com/IEM/ApprovalManagement/RequestRoleAccess.aspx?group=ProductEngineering_PEG_FuncDesign_1274_10nm'
                                target='_blank'>here</a>
                            <p><i class='fa fa-caret-right'></i> Non-PEG Users click
                                <a target='_blank' href='https://iem.intel.com/IEM/ApprovalManagement/RequestRoleAccess.aspx?group=ProductEngineering_PEG_FuncDesign_1274_10nmNonPEG'>here</a></p>
                        </div>
                    </ng-template>
                    <button type="button" class="btn btn-primary" [popover]="popTemplate" popoverTitle="To Gain Access">
                     <i class="fa fa-key"></i>
                     </button>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="parents.length > 0">
            <table id="main-table" class="table table-striped" *ngIf="!viewCurrent">
                <thead>
                    <tr class="parent-doc">
                        <th class="doc-name">Document Name</th>
                        <th class="domain">Domain</th>
                        <th class="doc-type">Doc Type</th>
                        <th class="owner">Owner</th>
                        <th class="status">0.2</th>
                        <th class="status">0.5</th>
                        <th class="status">0.8</th>
                        <th class="status">1.0</th>
                        <th class="status">1.1</th>
                    </tr>
                    <tr>
                        <th class="doc-name">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.docName.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th class="domain">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.domain.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th class="doc-type">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.docType.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th class="owner">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.owner.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th colspan=5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parent of rows">
                        <td class="doc-name">{{parent.docName}}</td>
                        <td class="domain">{{parent.domain}}</td>
                        <td class="doc-type">{{parent.docType}}</td>
                        <td class="owner">{{parent.owner}}</td>
                        <td *ngFor="let doc of parent.docs" class="status" [class]="doc.status">{{doc.status}}
                            <a *ngIf="doc.url" [href]="doc.url" target="_blank"> <i class="fa fa-link"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped" *ngIf="viewCurrent">
                <thead>
                    <tr class="parent-doc">
                        <th class="doc-name">Document Name</th>
                        <th class="domain">Domain</th>
                        <th class="doc-type">Doc Type</th>
                        <th class="owner">Owner</th>
                        <th class="latest-released">Last Released</th>
                        <th class="last-revision">Latest Doc</th>
                        <th class="next-eta">Next ETA</th>
                    </tr>
                    <tr>
                        <th class="doc-name">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.docName.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th class="domain">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.domain.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th class="doc-type">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.docType.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th class="owner">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.owner.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                        <th class="latest-released">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.latestRevision.filterString" (keyup)="onChangeTable($event)"
                                class="form-control input-sm">
                        </th>
                        <th class="last-revision">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.latestRevision.filterString" (keyup)="onChangeTable($event)"
                                class="form-control input-sm">
                        </th>
                        <th class="next-eta">
                            <input type="text" placeholder="Filter" [(ngModel)]="filters.nextEta.filterString" (keyup)="onChangeTable($event)" class="form-control input-sm">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parent of rows">
                        <td class="doc-name">{{parent.docName}}</td>
                        <td class="domain">{{parent.domain}}</td>
                        <td class="doc-type">{{parent.docType}}</td>
                        <td class="owner">{{parent.owner}}</td>
                        <td>
                            <div *ngIf="parent.latestReleased.revision.length">
                                <button class="btn btn-primary btn-xs">
                                    <span class="badge">{{parent.latestReleased.revision}}</span>
                                </button>
                                <a *ngIf="parent.latestReleased.url" [href]="parent.latestReleased.url" target="_blank"> <i class="fa fa-link"></i></a>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-xs"><span class="badge">{{parent.selectedDoc.revision}}</span></button>
                            <span class="badge" [class]="parent.selectedDoc.status">{{parent.selectedDoc.status}}</span>
                            <a *ngIf="parent.selectedDoc.url" [href]="parent.selectedDoc.url" target="_blank"> <i class="fa fa-link"></i></a>

                        </td>
                        <td>
                            {{parent.selectedDoc.nextEta | date:'shortDate'}}
                            <i *ngIf="parent.selectedDoc.nextEtaType != 'release' && parent.selectedDoc.nextEtaExpired" class="fa fa-exclamation-triangle"
                                style="color:red" title="ETA Expired"></i>
                        </td>
                    </tr>
            </table>
        </div>
        <div *ngIf="parents && parents.length > 0">
            <div class="row">
                <div class="col-sm-6 text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable($event)" (numPages)="numPages = $event">
                    </pagination>
                </div>
                <div class="col-sm-3 text-left">
                    <br/>
                    <strong>Items Per Page:</strong>
                    <select [(ngModel)]="itemsPerPage" (change)="onChangeTable()">
                        <option *ngFor="let size of pageSizes">{{size}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>