
<div class="form-group row">

    <div class="col-sm-12">
        <label> Title</label>
        <div class="input-group col-sm-12">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" [(ngModel)]="parentdoc.docName" class="form-control" placeholder="Title">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label> Select Release Affected</label>
        <input type="text" class="form-control" placeholder="Select Release Affected" name="releaseAffected">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4">
        <label>  Doc Type</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
            <input type="text" class="form-control" placeholder="Select Doc Type" name="docType" [(ngModel)]="parentdoc.docType">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label> Owner</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <worker-search maxResults="7" [idsid]="parentdoc.selectedDoc.owner" (onSelected)="parentdoc.selectedDoc.owner = $event"></worker-search>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label> Owner Arch Lead</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
             <worker-search maxResults="7" [idsid]="parentdoc.selectedDoc.ownerArchlead" (onSelected)="parentdoc.selectedDoc.ownerArchlead = $event"></worker-search>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-4">
        <label> Domain</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
            <input type="text" class="form-control" placeholder="Select Domain" [(ngModel)]="parentdoc.selectedDoc.domain" name="domain">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label> Design Contact</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               <worker-search maxResults="7" [idsid]="parentdoc.selectedDoc.designContact" (onSelected)="parentdoc.selectedDoc.designContact = $event"></worker-search>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label> Validation Contact</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <worker-search maxResults="7" [idsid]="parentdoc.selectedDoc.validationContact"  (onSelected)="parentdoc.selectedDoc.validationContact = $event"></worker-search>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label> Tech Comms Contact</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
           <worker-search maxResults="7" [idsid]="parentdoc.selectedDoc.techCommSupport"  (onSelected)="parentdoc.selectedDoc.techCommSupport = $event"></worker-search>            </div>
        </div>
</div>

<div class="form-group row">
    <div class="col-sm-12">
        <div class="input-group col-sm-12">
            <label>  Draft URL </label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                <input type="text" class="form-control" placeholder="Doc Link" [(ngModel)]="parentdoc.selectedDoc.draftUrl">
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-12">
        <div class="input-group col-sm-12">
            <label>  Review URL </label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                <input type="text" class="form-control" placeholder="Doc Link" [(ngModel)]="parentdoc.selectedDoc.reviewUrl">
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <div class="input-group col-sm-12">
            <label>  Release URL </label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                <input type="text" class="form-control" placeholder="Doc Link" [(ngModel)]="parentdoc.selectedDoc.releaseUrl">
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="form-group row" style="margin-bottom: 0px;">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <button class="btn btn-success" type="button" (click)="onSubmit()">Submit</button>
                <button class="btn btn-danger" type="reset" value="reset">Reset</button>
                <button class="btn btn-danger" type="cancel" value="cancel" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>