<div class="modal-body" no-animate>
	<div>
		<div class="alert alert-warning" style="margin-bottom:0px;">Do you want to reject this record (Rejected records are not visible through apps)?</div>		
		<br>
	   	<div class="row" >
	   		<ul>
	   			<li>{{docName}}</li>
	   		</ul>		    
		 </div>
	 </div>
</div>

<div class="modal-footer">   
 	<button class="btn btn-primary" (click)="reject()">Yes</button> 	
    <button class="btn btn-warning" (click)="cancel()">No</button>
</div>