<div class="modal-body">
    <div class="form-group">
        <div class="row" *ngIf="doc.displayDraftUrl">
            <div class="col-sm-12">
                <div class="input-group col-sm-12">
                    <label for="">
	            	Draft URL <span class="required" ng-if="doc.requireDraftUrl">*</span>
	            </label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Doc Link" [(ngModel)]="doc.draftUrl">
                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="doc.displayAuthoringEta">
            <div class="col-sm-12">
                <div class="input-group col-sm-12">
                    <label for="">
	            	Authoring ETA <span class="required" ng-if="doc.requireAuthoringEta">*</span>
	            </label>
                    <div class="input-group">
                        <input type="date" class="form-control" placeholder="Authoring ETA" [(ngModel)]="doc.authoringEta">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>

           <div class="row" *ngIf="doc.displayReviewUrl">
            <div class="col-sm-12">
                <div class="input-group col-sm-12">
                    <label for="">
	            	Review URL <span class="required" ng-if="doc.requireReviewUrl">*</span>
	            </label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Review URL" [(ngModel)]="doc.reviewUrl">
                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    </div>
                </div>
            </div>
        </div>

          <div class="row" *ngIf="doc.displayReviewDate">
            <div class="col-sm-12">
                <div class="input-group col-sm-12">
                    <label for="">
	            	Review Date <span class="required" ng-if="doc.requireReviewDate">*</span>
	            </label>
                    <div class="input-group">
                        <input type="date" class="form-control" placeholder="Review Date" [(ngModel)]="doc.reviewDate">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                    </div>
                </div>
            </div>
        </div>

        
          <div class="row" *ngIf="doc.displayReleaseEta">
            <div class="col-sm-12">
                <div class="input-group col-sm-12">
                    <label for="">
	            	Release ETA <span class="required" ng-if="doc.requireReleaseEta">*</span>
	            </label>
                    <div class="input-group">
                        <input type="date" class="form-control" placeholder="Release ETA" [(ngModel)]="doc.releaseEta">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                    </div>
                </div>
            </div>
        </div>


           <div class="row" *ngIf="doc.displayReleaseUrl">
            <div class="col-sm-12">
                <div class="input-group col-sm-12">
                    <label for="">
	            	Release URL <span class="required" ng-if="doc.requireReleaseUrl">*</span>
	            </label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Release URL" [(ngModel)]="doc.releaseUrl">
                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" [disabled]="!doc.isStatusUpdateValid" (click)="updateStatus()">Save</button>
    <button class="btn btn-warning" (click)="cancel()">Close</button>
</div>