
<div class="modal-body">
    <div class="form-group row">
        <div class="col-sm-12">
            <div class="input-group col-sm-12">
                <label for="">
	            	Draft URL 
	            </label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" class="form-control" placeholder="Doc Link" [(ngModel)]="doc.draftUrl">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group col-sm-12">
                <label for="">
	            	Review URL 
	            </label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" class="form-control" placeholder="Doc Link" [(ngModel)]="doc.reviewUrl">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group col-sm-12">
                <label for="">
	            	Release URL 
	            </label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" class="form-control" placeholder="Doc Link" [(ngModel)]="doc.releaseUrl">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="updateLinks()">Save</button>
    <button class="btn btn-warning" (click)="cancel()">Close</button>
</div>