<div class="modal-body" no-animate>
        <alert type="warning">
            <strong><i class="fa fa-warning"></i> Do you want to waive the below revisions?</strong><br/>
            <ul>
                <li *ngFor="let rev of parentdoc.revsToWaive">
                    {{rev.revision}}
                </li>
            </ul>
        </alert>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" (click)="waive()">Yes</button>
    <button class="btn btn-warning" (click)="cancel()">No</button>
</div>