<div class="panel panel-info">
    <div class="panel-heading"><b>Add New HAS/CREG</b></div>

    <div class="form-group">
        <div class="col-sm-8">
            <label><span style="color:red">*</span> Title</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" placeholder="Title" [(ngModel)]="doc.docName" name="docName">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <label> Select Release Affected</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>

                <ss-multiselect-dropdown [options]="releaseAffected" [settings]="releaseAffectedSettings" [(ngModel)]="selectedReleaseAffected"></ss-multiselect-dropdown>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <label><span style="color:red">*</span> Doc Type</label> 
                <div class="input-group">
                    <span class="input-group-addon" ><i class="glyphicon glyphicon-file"></i></span>

                    <!--<label><span style="color:red">*</span>  Doc Type</label>-->
                    <ss-multiselect-dropdown [options]="docTypes" [settings]="docTypeSettings" [(ngModel)]="doc.docType"></ss-multiselect-dropdown>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <label><span style="color:red">*</span> Owner</label>
                <worker-search maxResults="7" (onSelected)="doc.owner = $event"></worker-search>

            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-4">
                <label><span style="color:red">*</span> Owner Arch Lead</label>
                <worker-search maxResults="7" (onSelected)="doc.ownerArchlead = $event"></worker-search>

            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-4">
                <label> Domain</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                    <ss-multiselect-dropdown [options]="domains" [settings]="domainSettings" [(ngModel)]="selectedDomain"></ss-multiselect-dropdown>
                    <!--<input type="text" class="form-control" placeholder="Select Domain" [(ngModel)]="doc.domain" name="domain">-->
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <label> Design Contact</label>
                <worker-search maxResults="7" (onSelected)="doc.designContact = $event"></worker-search>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <label> Validation Contact</label>
                <worker-search maxResults="7" (onSelected)="doc.validationContact = $event"></worker-search>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <label> Tech Comms Contact</label>
                <worker-search maxResults="7" (onSelected)="doc.techCommSupport = $event"></worker-search>

            </div>
        </div>


        <div class="form-group row" style="margin-bottom: 0px;">
            <div class="col-sm-8">

            </div>
            <div class="col-sm-4">
                <button class="btn btn-success" [disabled]="!doc.newIsValid" (click)="onSubmit()">Submit</button>
                <button class="btn btn-danger" type="reset" value="reset">Reset</button>
                <button class="btn btn-danger" type="cancel" value="cancel" (click)="cancel();hideAddForm()">Cancel</button>
            </div>
        </div>
        <!--</form>-->
    </div>