<nav class="navbar navbar-default">
		<div class="container-fluid">
    <!-- App name and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="navbar-logo" src="../styles/it-mlaf/images/intel-logo-white-100.png" alt="">
				<a class="navbar-brand" href="/">DocTracker 2.0</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/query">Query</a></li>
					<li><a href="/specindex">Spec Index</a></li>
					<li><a href="/import">Import Spec</a></li>

					<li class="divider"></li>
					<li><a href="/doctracker">About</a></li>
					<!--<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/query">Query</a></li>
							<li><a href="/specindex">Spec Index</a></li>
							<li><a href="/import">Import Spec</a></li>

							<li class="divider"></li>
							<li><a href="/doctracker">About</a></li>
						</ul>
					</li>-->
					<li>
						<img class="app-es-logo" src="../../images/es-logo.png">
					</li>
				</ul>
			</div>
		</div>
	</nav>



<!-- Branding & Logo -->
<!--<a class="item app-brand" >
	<img class="app-es-logo" src="../../images/es-logo.png"><span class="app-title">My Apps</span>
</a>
<a href="/"><span>Home</span>
</a>

<a routerLink="/doctracker">DocTracker</a>-->
