.worker-results{
    position: absolute;
    top: 40px;
    left: 25px;
    z-index: 25;
    background: white;
    opacity: .9;
}
.worker-row{
    left:10px;
}
.worker-photo{
    width: 50px;
}