<div class="input-group">
    <input [(ngModel)]="searchTerm" class="form-control" placeholder="Search for an employee" (keyup)="searchWorkers()" />
    <span class="input-group-addon"><button class="btn btn-xs btn-primary">
        <i class="glyphicon glyphicon-user"></i>
        </button> </span>
</div>
<div *ngIf="workers && workers.length > 0" class="worker-results">
    <br>
    <div *ngFor="let worker of workers" class="row worker-row">
       <button class="btn btn-link" (click)="selectWorker(worker)">
             <img [src]="worker.photoLink" class="worker-photo" /> {{worker.fullName}} - {{worker.wwid}}
       </button>
    </div>
</div>