#query-component{
    select{
       border-radius: 4px;
    }
    button{
       border-radius: 4px;
    }
    
    .btn{
        border-radius: 4px;
    }
   #main-table{
  
        .parent-doc{
            background-color: lightblue;
        }
        .child-doc{
            background-color: cyan;
        }
        .actions{
            width:4%;
        }
        .doc-name{
            width: 21%;
        }
        .release{
            width:6%;
        }
        .domain{
            width: 5%;
        }
        .doc-type{
            width:5%;
        }
        .owner{
            width:6%;
        }
        .hsdes-link{
            width:1%;
        }
        .revision{
            width:6%;
        }
        .status{
            width: 7%;
            select{
                width: 150px;
                padding:3px;

                &.not_started{
                    background-color: #d9534f;
                    color:white;
                }

                &.authoring_wip{
                    background-color: #FFA300;
                }
              
                &.release{
                    background-color: #5cb85c;
                    color: white;
                }
                &.closed{
                    background-color: #5cb85c;
                    color: white;
                }
                &.rejected{
                    background-color: #939598;
                    color: white;
                }
                &.waived{
                    background-color: #BDB76B;
                }
                &.reviewpdf_queue{
                    background-color: #0075a1;
                    color: white;
                }
                &.review_candidate{
                    background-color: #003C71;
                    color: white;
                }
                &.review_complete{
                    background-color: #C4D600;
                }
                &.releasepdf_queue{
                    background-color: #8ab85c;
                }
                &.release_candidate{
                    background-color: #899c63;
                }

            }
        }
        .date{
            width: 7%
        }
        .url{
            width: 18%;
        }
    }
}
