
// body{
//     width: 90%;
// }

.main-nav {
    height: 35px;
    border-bottom:solid 1px #D3D3D3;
    background: #fff; 

    a{
        .item{
            display: inline-block;
            vertical-align: middle;
            height: 35px;
            line-height: 35px;
            padding-right: 10px;
            padding-left: 10px;
            text-decoration: none;
            :link{
                background: transparent;
	            color: #373737;
            }
            :visited{
                background: transparent;
                color: #373737;
             }
             :hover{
                 background: #F8DEDE;
	            color: #D85B5B;
             }
             .active{
                 background: #D85B5B;
	            color: white;
             }
             .app-brand:hover{
                 background: transparent;
	             color: #373737;
             }
        }
    }
}
.main-view {
	height: auto;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.app-brand {
	min-width: 225px;
}
.app-es-logo {
  vertical-align: top;
  text-align: center;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
}
.es-logo-vector {
  fill: #D85B5B;
}
.app-title {
	display: inline-block;
	padding-right: 10px;
	font-size: 1.2rem;
	font-weight: 300;	
}
.panel{
    width:90%;
}
.modal-content {
    border-radius: 4px;
}
.required {
    color: red;
    font-weight: bold;
}
.white-text{
    color:white;
}
.page-title{
    margin-top:5px;
}